@page "/"
@using DataAccessLibrary
@using HamsterWars.Services
@inject NavigationManager _nav
@inject IHamsterData _db

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<PageTitle>Index</PageTitle>


@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Welcome to Hamster Wars!</h1>
    <div>
        <div>
            <p1>
                When you visit the battle site you are meet with two picture's
                of Two diffrent hamsters. <br />Your objectiv is to choose the cutest hamster out of the two hamsters
            </p1>
        </div>
        <br />
        <button type="button" @onclick="@(()=>_nav.NavigateTo("/battle"))" class="btn btn-danger">Battle</button>
        <button type="button" @onclick="@(()=>_nav.NavigateTo("/gallery"))" class="btn btn-danger">Gallery</button>
    </div>

}

@code {
    private List<HamsterModel> hamsters = new List<HamsterModel>();
    protected override async Task OnInitializedAsync()
    {
        hamsters = await _db.GetHamsters();
    }


}