@using DataAccessLibrary
@using Services
@inject IHamsterData _db
@page "/battle"
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<h3 class="text-center"> Choose the cutest Hamster</h3>

@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{

        <div style="float:left;">
        <img class="img-thumbnail" src="/Content/Photos/@hamster1.ImgName">
        <p class="text-center">@hamster1.Name</p>
        <p class="text-left">Age:&nbsp;@hamster1.Age</p>
        <p class="text-left">Favorite food:&nbsp;@hamster1.FavFood</p>
        <p class="text-left">Favorite activity:&nbsp;@hamster1.Loves</p>
    </div>
    <div style="float:right;">
        <img class="img-thumbnail" src="/Content/Photos/@hamster2.ImgName">
        <p class="text-center">@hamster2.Name</p>
        <p class="text-left">Age:&nbsp;@hamster2.Age</p>
        <p class="text-left">Favorite food:&nbsp;@hamster2.FavFood</p>
        <p class="text-left">Favorite activity:&nbsp;@hamster2.Loves</p>
    </div>

}

@code
{
    private List<HamsterModel>? hamsters;
    private HamsterModel? hamster1;
    private HamsterModel? hamster2;
    protected override async Task OnInitializedAsync()
    {
        hamsters = await _db.GetHamsters();
        (hamster1, hamster2) = Randomizer.Gethamster(hamsters);
    }



    private async Task InsertLike(List<HamsterModel> cometitorlist, string winnerName, HamsterModel hamsters) // fixa namn på listan
    {
        foreach (var i in cometitorlist)
        {
            if (i.Name == winnerName)
            {

                await _db.InsertLikes(i);
            }
            else
            {
                await _db.InsertDefeat(i);
            }
        }
    }

}
