@page "/history"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@inject IHamsterData _db
@inject IResultData _rb



<h3>History</h3>
<button type="button" @onclick="RemoveAll" class="btn btn-danger float-end">Remove all</button>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Game</th>
            <th scope="col">Winning Hamster</th>
            <th scope="col">Losing Hamster</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in results)
        {
            test(result.WinnerId, result.LoserId);
            <tr>
                <th scope="row">@result.Id</th>
                <td>@Winner.Name</td>
                <td>@Loser.Name</td>
                <td><button id="removeOne" type="button" onfocus="location.reload()" @onclick="(() => RemoveOne(result))" class="btn btn-danger">Remove Match</button></td>
            </tr>
        }
    </tbody>
</table>

@code {

    List<HamsterModel> hamsters = new List<HamsterModel>();
    List<ResultModel> results = new List<ResultModel>();
    public HamsterModel? Winner { get; set; }
    public HamsterModel? Loser { get; set; }


    protected override async Task OnInitializedAsync()
    {
        hamsters = await _db.GetHamsters();
        results = await _rb.Getresult();
    }
    private void test(int winnerId, int loserId)
    {

        foreach (var result in results)
        {
            @foreach (var hamster in hamsters)
            {
                if (winnerId == hamster.Id)
                {
                    Winner = hamster;
                }
                else if (loserId == hamster.Id)
                {
                    Loser = hamster;
                }
            }
        }
    }
    private async Task RemoveOne(ResultModel result)
    {
        await _rb.RemoveOneResult(result);
    }
    private async Task RemoveAll()
    {
        await _rb.RemoveAllResults();

    }
    }

    //TODO POPUP when removing all