@page "/mypages/Competition"
@using DataAccessLibrary

@inject IHamsterData _db



<h1>TIME FOR WAR</h1>
<h3 class="text-center">Choose the best looking Hamster</h3>
@if (hamsterList == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <div class="figthers ">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    @for (int i = 0; i < 2; i++)
                    {
                        
                        <th scope="col" class="text-center"></th>
                        break;
                    }
                </tr>
            </thead>
        </table>
    </div>
}



@code {
    private List<Hamsters> hamsterList = new List<Hamsters>();
    protected override async Task OnInitializedAsync()
    {
        hamsterList = await _db.GetHamsters();
    }
    private string RandomHamster()
    {
        Random rnd = new Random();
        int picNr = rnd.Next(1, 40);
        string nextpick = $"hamster-{picNr}.jpg";
        return nextpick;


    }
}

                       @* <th scope="col" class="text-center"></th>*@