@page "/mypages/Competition"
@using DataAccessLibrary

@inject IHamsterData _db



<h1 class="text-center">TIME FOR WAR</h1>

@if (hamsterList == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <Testing></Testing>
}



@code {
    private List<HamsterModel> hamsterList = new List<HamsterModel>();
    protected override async Task OnInitializedAsync()
    {
        hamsterList = await _db.GetHamsters();
    }

    }


