@page "/mypages/Competition"
@using DataAccessLibrary

@inject IHamsterData _db



<h1>TIME FOR WAR</h1>
<h3 class="text-center">Choose the best looking Hamster</h3>
@if (hamsterList == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <Testing></Testing>
}



@code {
    private List<Hamsters> hamsterList = new List<Hamsters>();
    protected override async Task OnInitializedAsync()
    {
        hamsterList = await _db.GetHamsters();
    }

    }
}

                   