@page "/mypages/Leaderboard"
@using DataAccessLibrary
@inject IHamsterData _db

<h3>LeaderBoard</h3>

@if (hamsters is null)
{
  <p><em>Loading ...</em></p>  
}else{
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Win rate</th>
            <th scope="col">Games</th>
            <th scope="col">Defeats</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in hamsters)
        {
            
        }
    </tbody>
</table>


}
@code {
    private List<HamsterModel> hamsters = new List<HamsterModel>();
    protected override async Task OnInitializedAsync()
    {
        hamsters = await _db.GetHamsters();
    }
    private List<HamsterModel> GetTopTen()
    {
        
    }
}
