@using DataAccessLibrary
@inject IHamsterData _db
@page "/test"
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<h3 class="text-center"> Choose the cutest Hamster</h3>

@if (hamstersList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row row-no-margin center">
        @{
            var temp = RandomHamster();
        }
        @foreach (var hamster in temp)
        {
            <div class="col-xs-12 col-sm-6 col-no-padding center">
                <h1 class="text-center">@hamster.Name</h1>
                <div class="col-xs-12 col-sm-6 col-no-padding ">
                    <img class="thumbnail img-responsive " src="/Content/Photos/@hamster.ImgName">
                    <h4>Wins = @hamster.Wins</h4>
                    <button type="button" @onclick="(() => InsertLike(temp,hamster.Name,hamster))" class="btn btn-info">Like</button>
                </div>
            </div>
        }
    </div>

}


@code
{
    private List<HamsterModel> hamstersList = new List<HamsterModel>();
    protected override async Task OnInitializedAsync()
    {
        hamstersList = await _db.GetHamsters();
    }

    private List<HamsterModel> RandomHamster() // se till så att samma bild inte kan komma 2 gånger in i listan
    {
        List<HamsterModel> templist = new List<HamsterModel>();
        for (int i = 0; i < 3; i++)
        {
            Random rnd = new Random();
            int rndId = rnd.Next(1, 40);
            foreach (HamsterModel h in hamstersList)
            {
                if (h.Id == rndId)
                {
                    i++;
                    templist.Add(h);
                }
            }
        }
        return templist;
    }
    private async Task InsertLike(List<HamsterModel> cometitorlist, string name, HamsterModel hamsters) // fixa namn på listan
    {
        foreach (var i in cometitorlist)
        {
            if (i.Name == name)
            {
                i.Wins++;
                i.Games++;
                i.WinRate = Services.PercentCalculator.ProcentCalculator(i.Games, i.Wins);
                await _db.InsertLikes(i);
            }
            else
            {
                i.Games++;
                i.Defeats++;
                await _db.InsertDefeat(i);
            }
        }
    }

}
