@page "/gallery"

@inject IHamsterData _db
@inject NavigationManager _nav

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<h4>Our Hamsters</h4>
@if (hamsterList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="@(()=>_nav.NavigateTo("/addHamster"))" type="button" class="btn btn-primary">Add Hamster</button>
    <div class="row">
        @foreach (var hamster in hamsterList)
        {
          <HamsterCard Hamster="@hamster"></HamsterCard>
        }
    </div>
}

@code {
    
    private List<HamsterModel> hamsterList = new List<HamsterModel>();
    protected override async Task OnInitializedAsync()
    {
        if (hamsterList.Count == 0)
        {
            hamsterList = await _db.GetHamsters();
        }
    }

    
}